<html>
  <head>
    <meta http-equiv="Content-Style-Type" content="text/css" /> 
    <title>general.html</title>
    <link href="/library/skin/tool_base.css" type="text/css" rel="stylesheet" media="all" />
    <link href="/library/skin/default/tool.css" type="text/css" rel="stylesheet" media="all" />
    <script type="text/javascript" language="JavaScript" src="/library/js/headscripts.js"></script>
    <style>body { padding: 5px !important; }</style>
  </head>
  <body>
<style type="text/css">
 hr {border:none; border-top: dotted black 2px; margin-left:1em; margin-right: 1em}
.textblock {
-moz-border-radius: 1em;
-webkit-border-radius: 1em;
border-radius: 1em;
padding:0em 1em 1em 1em;
border: solid black 1px;
background-color: #ffffdd;
}
.textblock2 {
background-color: #eeeeee;
}

</style>
<table cellspacing="15" role="presentation">
    <tbody>
        <tr>
            <td width="75%" valign="top">
            <h2>Bắt đầu với bài học</h2>
            <div class="textblock">
              <p>Thêm nội dung của bạn vào trang này bằng cách sử dụng "Thêm Nội Dung" trình đơn thả xuống. Các tùy chọn phổ biến nhất là
		<ul>
		  <li> <b>Thêm văn bản</b> - gõ văn bản vào một trình soạn thảo văn bản tốt
		  <li> <b>Thêm liên kết nội dung</b> - tải lên một tài liệu hoặc thêm một URL cho một trang web. Điều này là kết quả trong một liên kết.
		  <li> <b>Nội dung nhúng trên trang</b> - Thêm một mục hiển thị trên trang, ví dụ. một bài thuyết trình flash hoặc video.
		</ul>
	      </p>

	      <p> <b>Thên liên kết nội dung</b> and <b>Nội dung nhúng trên trang</b> cả hai có thể được sử dụng để tải lên một tập tin hoặc liên kết đến một trang web bên ngoài.
		Sự khác biệt là Thêm Liên Kết Nội Dung sẽ dẫn đến một liên kết đến mục, trong khi Nhúng Nội dung trên trang sẽ đặt mục
		chính nó trên trang. Trong trường hợp video, nội dung nhúng sẽ sử dụng một trình video thích hợp.</p>
	      
              <p>Một khi bạn đã thêm vào nội dung, bạn sẽ tìm thấy<b>nút Chỉnh Sửa</b> bên cạnh mỗi mục nơi bạn có thể điều chỉnh kích thước của các đối tượng đa phương tiện, thay đổi tiêu đề, thêm văn bản mô tả, vv Bạn cũng có thể sử dụng <b>Chỉnh sửa </b> để phát hành các hoạt động và thông tin liên tục.</p>

            </div>

            <h2>Những thứ khác bạn có thể bỏ vào trang</h2>
            <div class="textblock textblock2">
            <ul>
	        <li> <b>Thêm bài tập</b> - Chọn một bài tập từ công cụ bài tập của Sakai, và thêm nó vào trang.
	        <li> <b>Thêm bài trắc nghiệm</b> - Chọn một bài tập từ công cụ bài kiểm tra và trắc nghiệm của Sakai, và thêm nó vào trang.
	        <li> <b>Thêm chủ đề diễn đàn</b> - Chọn một chủ đề từ một công cụ diễn đàn của Sakai, và thêm nó vào trang.
		<li> <b>Thêm câu hỏi</b> - Đặt một trắc nghiệm hoặc câu hỏi trả lời ngắn gọn trên trang.Nhiều câu hỏi trắc nghiệm có thể được sử dụng như các cuộc thăm dò.
	        <li> <b>Thêm công cụ bình luận</b> - Cho phép sinh viên vào bình luận.
	        <li> <b>Thêm nội dung học sinh</b> - Cho phép sinh viên tạo một trang với nội dung của chính họ. Những sinh viên khác có thể bình luận nó.
  	        <li> <b>Thêm trang con</b> - Create another page to contain content, Thêm liên kết nó tới trang này.
                <li> <b>Thêm trang web</b> - Tải lên một file ZIP. Supports  Camtasia, Wimba Create, and Articulate, but any ZIP file containing resources may be uploaded.
	        <li> <b>Thêm công cụ ngoài</b> - Thông thường bạn được cho biết nếu bạn cần phải sử dụng công cụ này
	    </ul>
	    <p>Nút<b>"Cài đặt"</b> ở đầu trang điều khiển các tính năng bổ sung mà áp dụng cho toàn bộ trang. Các nút<b>"Chỉnh Sửa"</b> bên cạnh mỗi
	    tính năng điều khiển mục áp dụng cho các mục đó.
            </div>

            <h2>Thông tin thêm</h2>
            <div class="textblock textblock2">
            <ul>
                <li><a href="multimedia.html">Nhiều nội dung</a> Trong những hướng dẫn cụ thể và mẹo kỹ thuật liên quan đến các trình duyệt khác nhau</li>
                <li><a href="accessibility.html">Khả năng tiếp cận Web</a> Tạo nội dung truy cập để sử dụng bài học</li>
                <li><a href="sequencing.html">Sắp xếp thứ tự</a> Yêu cầu hoàn thành một hoặc nhiều yêu cầu trước khi những cái khác được phát hành tới sinh viên người tham gia trang dự án.</li>
            </ul>
            </div>
            <h2>Sử dụng phổ biến</h2>
            <div class="textblock textblock2">
            <p>Có một số cách để sử dụng trang Bài Học. Đây là hai cách phổ biến nhất:</p>
            <ul>
                <li><b> Otổ chức tài liệu theo chủ đề hoặc đơn vị </b> - Cho các chủ đề chính, Điều mà bạn muốn xuất hiện ở lề trái, đến <b>Thông tin trang</b> và thêm một ví dụ mới của bài học bằng <b> Công Cụ Chỉnh Sửa</b>. Quá trình này sẽ yêu cầu bạn cung cấp một tiêu đề cho các đơn vị mới. Bạn có thể thay đổi tiêu đề sau với &quot;Chỉnh nút&quot; Tiêu đề.</li>
                <li><b> Tổ chức tài liệu trong một chủ đề </b> -  Nhìn ví dụ 2 ở cột phải. Chúng tôi tạo ra các trang có chứa thông tin về ba đề mục nhỏ cụ thể, tất cả các liên kết đến từ cùng một trang chính. Để tạo một trang, sử dụng nút <b> Thêm trang con </b> trên thanh công cụ ở phía trên cùng của trang.
                <p>Lưu ý rằng <b> Thêm trang con </b> đặt bạn vào trang mới được tạo, vì vậy bạn có thể thêm nội dung. Bạn có thể quay trở lại trang hiện tại sử dụng liên kết ở trên cùng của trang.</p>
                </li>
            </ul>
            </div>
            <h2>Sử dụng chi tiết</h2>
            <div class="textblock textblock2">
            <p>Trong nhiều trường hợp hai phương pháp trên là tất cả các bạn cần. Tuy nhiên nó cũng có thể sử dụng bài học để xây dựng các cấu trúc phức tạp hơn của các trang. Dưới đây là một vài phương pháp để làm điều đó:</p>
            <ul>
                <li><b>Xây dựng một chuỗi các trang </b> Đôi khi bạn muốn sinh viên phải đi qua một trình tự cụ thể của trang. Thông thường, chúng tôi khuyên bạn nên tạo các trang như các trang web từ một trang đơn chính, như trong ví dụ 2. Điều đó làm cho nó dễ dàng cho học sinh xem lại tất cả các tài liệu. Nhưng nếu bạn muốn đẩy học sinh đi qua trong một trình tự cụ thể, bạn có thể thêm một liên kết đến các<b> trang tiếp theo </ b>, thông thường là ở dưới cùng của trang. Nếu bạn làm điều này một vài lần, bạn sẽ xây dựng một chuỗi các trang.
                <p>Đểm thêm một <b>Trang tiếp theo</b>, sử dụng <b> Thêm trang con</b>, nhưng chọn tùy chọn &quot;trang kế&quot;. Thông thường bạn cũng sẽ muốn chọn &quot;hiển thị như nút&quot;.</p>
                <p>Kiểm tra &quot;Trang tiếp&quot; cung cấp cho một trang đó thường sẽ không quay trở lại hiện tại. (Tất nhiên các sinh viên luôn có thể tới bất kỳ trang nào bằng cách sử dụng chỉ mục trang, trừ khi bạn đã hạn chế quyền truy cập vào trang.)</p>
                <p>Kiểm tra &quot;hiển thị như một nút&quot; gives you a button rather than a link.</p>
                </li>
                <li><b> Đi đến trang khác nhau tùy thuộc vào một sự lựa chọn của sinh viên</b>  Xem ví dụ 3 bên lề phải. Đôi khi bạn có thể muốn hỏi một câu hỏi và có sinh viên đi đến một trang khác nhau tùy thuộc vào cách họ trả lời các câu hỏi. Để làm điều đó, hỏi câu trả lời dùng <b> Thêm văn bản</b>, và sau đó đặt <b>trang kế</b> các mục dưới nó, tới các trang khác. Để làm điều đó, sử dụng <b> Thêm trang con </b> lần hai.
                <p>Cài đặt bạn sử dụng cho <b> Thêm trang con </b> là tùy thuộc vào bạn. Trong ví dụ 3 chúng tôi đã sử dụng &quot;show as button&quot; and &quot;next page.&quot;</p>
                </li>
            </ul>
            </div>
            </td>
            <td width="25%" valign="top">
            <p style="margin-top:1em"><img width="250" height="119" border="1" alt="Lesson Example" src="lbimages/LB_Help_General_Lesson.png" /></p>
            <p>Ví dụ 1. Trang đơn với <b> THêm văn bản</b>,&nbsp;<b>Và bài trắc nghiệm</b>, <b>Thêm </b><b>Bài tập</b> và <b>Thêm diễn đàn</b>. Các hình ảnh được chèn vào trong trình biên tập web <b>Thêm văn bản</b>.</p>
            <hr />
            <p><img width="250" height="82" border="1" src="lbimages/LB_Help_General_Subpage.png" alt="Subpages Example " /></p>
            <p>Ví dụ 2. Mẫu của một đơn vị có nhiều phần: một <b>Thêm văn bản</b>nhỏ và ba <b>trang con</b>, một cho mỗi phiên. Chọn mỗi trang con để thêm nội dung tới nó.</p>
            <hr />
            <p><img width="250" height="52" border="1" alt="Buttons Example" src="lbimages/LB_Help_General_Buttons.png" /><br />
            <br />
            Ví dụ 3. Đi đến một trang khác nhau tùy thuộc vào câu trả lời. Hai câu trả lời được thêm <b>Thêm trang con</b>. Tuy nhiên, 2 tùy chọn đã được thêm: &quot;Trang kế&quot; và &quot;Hiển thị như một nút&quot;. Lưu ý rằng <b>Thêm trang con</b> cho phép bạn tạo ra một trang mới hoặc tham khảo một trang hiện tại.<br />
            &nbsp;</p>
            </td>
        </tr>
    </tbody>
</table>
  </body>
</html>
